
    <div class="w-full h-full rounded">
        <div class="w-full h-auto mb-6 bg_quick_options rounded-md">
            <div class="quick_options_title h-1/6">
                Quick Options
            </div>
            <div class="h-5/6 grid grid-cols-1 gap-0 grid-rows-3">
                <div (click)="startLockUnLockModifyLimitProcess('lock')" class="quick_actions_children  cursor-pointer">
                    <div class="h-auto">
                        <span class="block h-14 w-full">
                            <img class="quick_options_images"  src="../../../assets/images/lock_a_profile.svg" alt="">
                        </span>   
                    </div>
                    <span class="quick_options_text w-full">
                        Lock a Profile
                    </span>
                </div>
                <div (click)="startLockUnLockModifyLimitProcess('unlock')" class="quick_actions_children cursor-pointer">
                    <div class="h-auto">
                        <span class="block h-14 w-full">
                            <img class="quick_options_images"  src="../../../assets/images/unlock_a_profile.svg" alt="">
                        </span>   
                    </div>
                    <span class="quick_options_text w-full">
                        Unlock a Profile
                    </span>
                </div>
                <div (click)="startLockUnLockModifyLimitProcess('modify limit')" class="quick_actions_children cursor-pointer">
                    <div class="h-auto">
                        <span class="block h-14 w-full">
                            <img class="quick_options_images"  src="../../../assets/images/modify_icon.svg" alt="">
                        </span>   
                    </div>
                    <span class="quick_options_text mb-4">
                        Modify Limit
                    </span>
                </div>
            </div>
        </div>
        <div class="">

        </div>
    </div>
