<div class="sideBar_Half__parent">
    <div class="w-full h-[8vh]">
        <div class="w-full omni_holder py-3 pl-3 pr-2">
            <img class="omni_channel_logo" src="../../../assets/images/omin_channel_logo.svg" alt="">
        </div> 
    </div>
    <div class="w-full h-[92vh] bgSecondHalf">
        <ul class="pt-7 listParent pr-5 ">
            <li [routerLink]= "['all']" [routerLinkActive]="['activated']"  class="pl-7 py-3 mb-4 flex  items-center text-white font-medium"> 
                <span class="pr-4"><img src="../../../assets/images/dashboard_grp_icon.svg" alt=""></span>
                 Dashboard
            </li>
            <li [routerLink]= "['users']"  [routerLinkActive]="['activated']"  class="pl-7 py-3 mb-4 flex items-center text-white"><span class="pr-4"><img src="../../../assets/images/individual_white_icon.svg" alt=""></span> Users</li>
            <li [routerLink]= "['transactions']" [routerLinkActive]="['activated']" class="pl-7 py-3  flex items-center text-white"> <span class="pr-4"><img style="max-width: 100%;" src="../../../assets/images/transaction_white_icon.svg" alt=""></span>Transactions</li>
        </ul>
    </div>
</div>