

 
    <div class="h-full flex justify-between">
        <label class="" [ngStyle]="{'color': information.labelTextColor, 'fontFamily': information.fontFamily, 'fontWeight': information.fontWeight}"> {{ information?.labelText }} </label>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-date-range-input
                [formGroup]="campaignOne"
                [rangePicker]="campaignOnePicker"
                [comparisonStart]="campaignOne.value.start"
                [comparisonEnd]="campaignOne.value.end">
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>

            <button [ngClass]="information.extraButtonClasses" (click)="sendUpEvent($event)" type="button" [ngStyle]="{'width': information.buttonWidth}">
               <span *ngIf="information.sortingIcon" class="sort -mt-2"></span>  {{ information.buttonText }}
            </button>
        </div>